/* Work Sans Fonts from google fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Grand Hotel', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


